button {
    padding: 10px;
    background: #ff5d12;
    background: linear-gradient(90deg, rgb(218, 95, 38) 0%, rgb(233, 59, 43) 100%);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover {
    background-color: #ff8c00;
    color: white;
    text-decoration: none;
}
.transparent-btn{
    background-color: transparent ;
    color: blue;
}
.transparent-btn:hover{
    background-color: transparent;
    color: #000;

}
.delete-btn {
    background: #ff3612;
    background: linear-gradient(90deg, rgb(218, 38, 38) 0%, rgb(233, 59, 43) 100%);
    color: white;
    margin-bottom: 10px;
    font-weight: 400;
}

.confirm-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    margin-bottom: 10px;
    font-weight: 400;
    text-decoration: none;
}
.confirm-btn a{
    color: white;
    text-decoration: none;
}

.submit-btn {
    background: #ff5d12;
    background: linear-gradient(90deg, rgb(218, 95, 38) 0%, rgb(233, 59, 43) 100%);
    color: white;
    /* margin-bottom: 10px; */
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease
}
.submit-btn:hover {
    background: #ff5d12;
    background: linear-gradient(90deg, rgb(209, 104, 55) 0%, rgb(255, 69, 52) 100%);
    color: white;
    text-decoration: none;
    transform: translateY(-2px);
}

.confirm-btn a{
    color: white;
    text-decoration: none;
}
.confirm-btn:hover {
    transform: translateY(-1px);
}